body {
    background-image: url(axax3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: absolute;
    display: grid;
}
h{
    font-size: 100px;
    font-style: bold;
}
.green-text{
    color: green;
    font-size: x-large;
    font-weight: bold;
   
    }
    
